#sign{

    padding-top: 50px;
    min-height: 640px;
    max-width: 1000px;
    margin: 0 auto;
}
#sign a{
    color: #9d9d9d;
    font-size: 13px;
    text-decoration: none;
}
#sign img{
    max-width: 100px;
    margin-bottom: 20px;
}
#sign input.form-control{
    max-width: 220px;
    margin-bottom: 20px;
    /*background: transparent;*/
}
#sign .agree{
    max-width: 220px;
}
/*#sign .btn-danger{*/
    /*color: #d43f3a;*/
/*}*/
a.form-control.btn.btn-danger.center-block{
    max-width: 220px;
    color: #FFFFFF;
}