body{
    font-family: "微软雅黑";
}
li{
    list-style: none;
    text-align: right;
}

a{
    text-decoration: none;
    color: black;
}

/*返回按钮*/
/*.navbar .btn{*/
    /*position: relative;*/
    /*float: left;*/
    /*padding: 7px 18px;*/
    /*margin-top: 8px;*/
    /*margin-left: 15px;*/
    /*margin-bottom: 8px;*/
    /*background-color: transparent;*/
   /**/
    /*border: 1px solid #ddd;*/
    /*border-radius: 4px;*/

/*}*/
.navbar-header{
text-align: center;
}
@media (max-width: 768px) {
    .nav_postion {
        position: relative;
    }

    #navbar-collapse1 {
        position: absolute;
        right: 5px;

        background-color: white;
        z-index: 5;
    }
}






.pet_list_title{
    color: #777;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    margin: 0;
}

.content .col-xs-3{
    text-align: center;
}


.pet_list img{
    width: 36px;
    height: 36px;
    border-radius: 50%;

}


#pet_list_do .modal-dialog{
    margin-top: 200px;
}
#pet_list_do .modal-content{
    margin-bottom: 10px;
    text-align: center;
    height: 35px;
    line-height: 35px;
}


.content div{
    margin-bottom: 10px;
}


/*pet_add*/
.pet_add_title{
    text-align: center;
    margin-top: 10px;

}
.pet_add_title span{
    float: left;

}

.pet_add_content {
    margin:0 auto;
}


/*编辑按钮*/
.edit .btn{
   width: 100%;


    margin-top: 50px;
}

.head_img {
    /*background: rgb(64, 210, 177);*/
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.head_img_bg{
    /*background: rgb(64, 210, 177);*/
    /*height: 200px;*/
    text-align: center;
    color: white;
}

/*顶部背景*/
.bg{
    background: url("../image/dog2.jpg");
}

.head_img_bg a{
    color: white;
}
.head_img_bg a:hover{
    text-decoration: none;
}
.nav_info{
    height: 30px;
    border-bottom: red 3px solid;
}
.content_info{
    margin-top:20px;
    /*display: none;*/
}
.content_img{
    /*display: none;*/
    text-align: center;
    margin-top:20px;
}
.content_img img{
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    overflow: hidden;
    border: 1px solid #ada3a3;
    border-radius: 6px;
}
.content_img .col-xs-4{
    margin-bottom: 20px;
}
.img_size{
    /*background-color: silver;*/
    width:100%;
    position:relative;
    display: inline-block;

}

/*定位*/
.local{
    color: #e85206;
    font-size: 17px;
}

.img_size div{
    margin-top: 100%;
}
.content_img button{
    margin-top: 20px;
}
.content_run{
    text-align: center;
    /*display: none;*/
}
.select_w{
    /*margin-left: 20px;*/
    display: inline-block;
    min-width: 120px;
    border-radius: 4px;
}
.btn_edit{
    margin-top: 20px;
    margin-left: 30%;
}

/*添加宠物边距*/
.pet_name{
    /*max-width: 120px;*/
    margin-left: 20px;
}
/*记步数*/
.content_run p{
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}
.content_run .run_Num{
    font-size: 28px;
    font-weight: 500;
}
/*步数设置*/
.content_run .edit_Num{
    max-width: 100px;
    display: initial;
}

/*saoyisao*/

.sao_bg{
    background-color: rgba(0,0,0,0.6);
}
.er{
    background: url("../image/pet_img/QR_Code.png");
    background-size:100%;
}
.saoyisao{
    text-align: center;
    margin-top: 50px;


}
.sao_bg img{
    width: 100%;
}
.img_bg{
    background: url("../image/pet_img/sao_bg.png");
    background-size:100%;

    position: relative;
}
#er_slider{
    position: absolute;
    left: 0;
    top: 10px;
}
.saoyisao h2{
    margin-bottom: 50px;
    color: white;
}
.saoyisao p{
    margin-top: 20px;
    color: gainsboro;
}
.saoyisao span{

    margin-top: 20px;
    padding: 1px 10px;

}


