/*解除绑定*/
.remove img{
    width: 150px;
    height: 150px;
    margin-top: 25px;
}
/*.remove .remove_name{*/
    /*max-width: 130px;*/
/*}*/
/*.remove  p{*/
    /*margin-top: 50px;*/
    /*font-size: 17px;*/
    /*font-weight: bold;*/
/*}*/
/*.remove_name a{*/
    /*min-width: 140px;*/
/*}*/

/*列表*/
.remove .col-xs-12{
    padding: 0;
}
.remove ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.remove ul li{
    /*margin-bottom: 10px;*/
    padding: 6px;
    background-color: #FFFFFF;
    line-height: 30px;
    border-bottom: 1px solid #dddddd;
}