/*footer*/
.footer {
  text-align: center;
  color: #999; }
  .footer .foot_nav {
    border-top: 3px solid #ff5482;
    background: #555555;
    color: #ddd;
    padding: 10px 0; }
    .footer .foot_nav a {
      color: #ddd;
      margin: 0 10px; }
